<h3>Caro(a) <%= name %>,</h3>

<p>Foi iniciado um requerimento de homologação em <a href="<%= site %>"><%= site %></a>.</p>

<p>Para aceder ao estado do requerimento, por favor aceda a: <a href="<%= site %>/homologation/overview-private"><%= site %>/homologation/overview-private</a></p>

<p>Obrigado!</p>