<h3>Caro(a) <%= name %>,</h3>

<p>Obrigado por se registar em <a href="<%= site %>"><%= site %></a>.</p>

<p>Para aceder ao estado do registo, por favor aceda a:</p>

<p><a href="<%= site %>/producerinfo/<%= token %>"><%= site %>/producerinfo/<%= token %></a></p>

<p>Bem vindo!</p>