<h3>Caro(a) <%= name %>,</h3>

<p>Foi pedido o cancelamento do registo por comunicação prévia em <a href="<%= site %>"><%= site %></a>.</p>

<p>Caso não tenha pedido o cancelamento, entre em contacto com <a href="<%= site %>"><%= site %>/contactos</a></p>

<p>Obrigado!</p>