<h3>Caro(a) <%= name %>,</h3>

<p> Após a avaliação da documentação submetida relativa ao seu registo em <a href="<%= site %>"><%= site %></a>, detetamos os seguintes documentos em falta:</p>

<p> Por favor aceda a <a href="<%= site %>/producerinfo/<%= token %>"><%= site %>/producerinfo/<%= token %></a> para submeter a documentação em falta.</p>

<p>Obrigado!</p>